{% extends "base_layout.html" %}
{% block content %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Opciones</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/gestion/entradas"><font color="#0174DF">Nuevo</font></a></li>
      </ul>
      <form id="frm-buscar" class="navbar-form navbar-left" role="search" action="/gestion/entradas/validar/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="PLACA" name="placa" size="30">
        </div> 
        <button type="button" class="btn btn-default btn-md" id="btn-buscarfactura">
        <span class="glyphicon glyphicon-search"></span></button>  
      </form>
      <ul class="nav navbar-nav">
        <li><a href="#" id="btn-anular">Anular</a></li>
        <li><a href="#" id="btn-imprimir" data-toggle="modal" data-target="#venta">Imprimir</a></li>
        <li><a href="#" id="btn-pagar" data-toggle="modal" data-target="#registrar_pago"><font color="#31B404"><strong>Registrar Pago</font></strong></a></li>
      </ul>
      <!--
      <ul class="nav navbar-nav">
        <li><button class="btn btn-danger btn-lg">Anular</button></li>
        <li><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#venta">Imprimir</button></li>
      </ul>
      -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Reportes</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Datos de entrada</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" action="{% url opcion %}" method="post">
          {% csrf_token %}
          <div class="col-md-6">
            <label for="inputEmail" class="col-md-3 control-label">Placa</label>
            <div class="col-md-9">
              <h2 style="margin:0px"><span class="label label-success col-md-12">{{parqueo.placa}}&nbsp;</span></h2>
            </div>
            <input type="hidden" name="id">
            <input type="hidden" name="placa" value="{{parqueo.placa}}">
          </div>
          <div class="col-md-6">
              <label for="inputEmail" class="col-md-3 control-label">Tipo Vehiculo</label>
              <div class="col-md-9">
                <select class="form-control" name="tipoVehiculo">
                    <option value="1">Carro</option>
                    <option>Moto</option>
                 </select>
            </div>
          </div>
          <div class="col-md-6">
              <label for="fechaEntrada" class="col-md-3 control-label">Fecha entrada</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="fechaEntrada" placeholder="dd/mm/aaaa" value="{{parqueo.horaEntrada|date:"d/m/Y" }}">
              </div>
          </div>
          <div class="col-md-6">
              <label for="horaEntrada" class="col-md-3 control-label">Hora entrada</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="horaEntrada" placeholder="hh:mm:ss" value="{{parqueo.horaEntrada|date:"h:i A"}}">
              </div>
          </div>
          <div class="col-md-6">
              <label for="inputEmail3" class="col-md-3 control-label">Tarifa</label>
              <div class="col-md-9">
                <select class="form-control" name="tipoTarifa">
                    <option value="1">Por 1 hora</option>
                    <option>Por 12 horas</option>
                 </select>
              </div>
          </div>
          <div class="col-md-12 bar-pack-right" style="margin-top: 10px">
              <button type="submit" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-forward"></span>Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6" >
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Datos de salida</h3>
      </div>
      <div class="panel-body">
          <form class="form-horizontal" role="form" action="{% url opcion %}" method="post">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 control-label">Hora salida</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputEmail3" placeholder="hh:mm:ss" value="{{parqueo.horaSalida|date:"h:i A"}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 control-label">Tiempo total</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputPassword3" placeholder="00:00" value="{{parqueo.horas}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 control-label">Valor total</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputPassword3" placeholder="$0000.00" value="{{parqueo.valor}}">
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->



{% endblock %}