{#% extends "admin/base_site.html" %#}
{% extends "base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'gestion:listar' %}">Listado</a></li>
</ul>
{% endblock %}


{% block object-tools %}
<ul class="object-tools pull-left navbar-form
list-unstyled">         
{% block object-tools-items %}         
<li>
<a class="navbar-brand">Gestión de Tarifas</a>
<a href="{% url 'gestion:add' %}" class="btn btn-primary">             
	<span class="glyphicon
glyphicon-plus">
	</span> Agregar </a>         
</li>         
{% endblock%}
</ul> 
{% endblock %}


{% block content %}

{% if message %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endif %}

<h1></h1>
<table class="table table-striped">
 <tr>
<th>valor</th><th>horas</th><th>Opciones</th>
 </tr>

{% if tarifas_list %}
    
    {% for tarifa in tarifas_list %}
     <tr>
     	<td>{{ tarifa.nombre }}</td>
     	<td>{{ tarifa.horas }}</td>
     	<td><a href="/gestion/edit/{{tarifa.id}}">Editar</a> | <a href="/gestion/delete/{{tarifa.id}}">Borrar</a></td>
     </tr>
    {% endfor %}
    
{% endif %}

</table>

{% endblock %}