{% extends "admin/base_site.html" %}

{% block content_title %}<a class="navbar-brand">Listar</a>{% endblock %}

{% block content %}
<p>Listado de elementos</p>
{% if message %}
<p class="bg-success">{{message}}</p>
{% endif %}

<button type="button" class="btn btn-primary" onclick="location.href='/gestion/add'">Agregar</button>
<h1></h1>
<table class="table table-striped">
 <tr>
<th>valor</th><th>horas</th><th>Opciones</th>
 </tr>

{% if tarifas_list %}
    
    {% for tarifa in tarifas_list %}
     <tr>
     	<td>{{ tarifa.nombre }}</td>
     	<td>{{ tarifa.horas }}</td>
     	<td><a href="/gestion/edit/{{tarifa.id}}">Editar</a> | <a href="/gestion/delete/{{tarifa.id}}">Borrar</a></td>
     </tr>
    {% endfor %}
    
{% endif %}

</table>

{% endblock %}