

{% extends "base.html" %}


{% block content %}

{%  if message_success %}
<div class="mensajes">
{{message_success}}
</div>
{% endif%}
<h3>Lista de parametros</h3>

<a href="/gestion/loadparametro">Nuevo parametro</a>
<br />
<br />
<table border="1" width="98%">
	<tr>
		<th width="40%">Nombre parametro</th>
		<th width="40%">Valor parametro</th>
		<th width="20%">Opciones</th>
	</tr>
	{% for parametro in list_parametros %}
	<tr>
		<td>{{parametro.nombre}}</td>
		<td>{{parametro.valor}}</td>
		<td><a href="/gestion/loadparametro/{{parametro.id}}/">Editar</a> | <a href="/gestion/eliminarParametro/{{parametro.id}}/">Eliminar</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}