

{% extends "base.html" %}


{% block content %}

<h3>Parametro</h3>

<a href="/gestion/parametros">Listar</a>
<br />
<br />
<form action="/gestion/guardaparametro/" method="post">
	{% csrf_token %}
	<div>
	<input name="id" value="{{parametro.id|default_if_none:""}}" type="hidden" />
<label>Nombre</label>
<input name="nombre" type="text" value="{{parametro.nombre}}" size="50" />
</div>
<div>
<label>Descripcionss</label>
<textarea name="descripcion" cols="60" rows="5">{{parametro.descripcion|default_if_none:""}}</textarea>
</div>
<div>
<label>Valor</label>
<input name="valor" type="text" value="{{parametro.valor}}" size="50" />
</div>
<div class="center-content">
<input type="submit" value="Guardar"/> 
<input type="reset" value="Cancelar"/> 
</div>
</form>

{% endblock %}