<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    {% load security_tags %}
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <script type="text/javascript" src="{% static "js/main.js" %}" ></script>
    <title>{% block title %}Parking{% endblock %}</title>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            Sistema de parqueaderos
        </div>
        <div id="navigation">
            <p>This is the Menu - {{ user.get_username }}<a href="/admin/logout" >Cerrar sesión</a> </p>
            
        </div>
        <div id="leftcolumn">
            {% block sidebar %}
                {% include "menu_ejemplo.html" %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            Footer
        </div>
    </div>
</body>
</html>